#
# server
#
export YN_OBJECTSTORE_URL=https://sos-ch-dk-2.exo.io/yesterdaysnews
export YN_CDN_URL=https://sos-ch-dk-2.exo.io/yesterdaysnews
# YN_CDN_URL=https://yesterdaysnews.sos-ch-dk-2.exoscale-cdn.com

# YN_OBJECTSTORE_URL=http://localhost:9000
# YN_CDN_URL=http://localhost:9000

#
# builder
#

# bin paths
# YN_YT_DLP_PATH=/opt/homebrew/bin/yt-dlp
# YN_FFMPEG_PATH=/opt/homebrew/bin/ffmpeg
# YN_FFPROBE_PATH=/opt/homebrew/bin/ffprobe

# Google API
export YN_GOOGLE_API_KEY=$(pass show yesterdaysnews/google-api-key)

# Object Store
export YN_S3_ENDPOINT=https://sos-ch-dk-2.exo.io/
export YN_S3_REGION=ch-dk-2
export YN_S3_BUCKET_NAME=yesterdaysnews
export YN_S3_ACCESS_KEY=$(pass show yesterdaysnews/s3-access-key)
export YN_S3_SECRET_ACCESS_KEY=$(pass show yesterdaysnews/s3-secret-access-key)
