#
# server
#
YN_OBJECTSTORE_URL=
YN_CDN_URL=

#
# builder
#

# bin paths (optional)
# YN_YT_DLP_PATH=
# YN_FFMPEG_PATH=
# YN_FFPROBE_PATH=

# Google API
YN_GOOGLE_API_KEY=

# Object Store
YN_S3_ENDPOINT=
YN_S3_REGION=
YN_S3_ACCESS_KEY=
YN_S3_SECRET_ACCESS_KEY=
YN_S3_BUCKET_NAME=