<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>yesterday's news</title>

    <meta name="description" content="yesterday's news" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <script src="/assets/video-player.js"></script>
    <script src="/assets/caption-display.js"></script>
    <script src="/assets/reloader.js"></script>

  </head>
  <body data-resource-url="/reload">
    <main>
      <video muted autoplay id="video" data-resource-url="/clips">
        <source type="video/webm" src="{{ .InitialClipURL }}">
      </video>
      <caption-display resource-url="/captions"></caption-display>
    </main>
    <script>
      ;(function(){
        const videoPlayer = new VideoPlayer('video')
        const reloader = new Reloader("/reload")
      })()
    </script>
  </body>
</html>
