<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ .PageTitle }}</title>

    {{ .MetaComment }}

    <meta name="description" content="yesterday's news" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body>

    <main id="main">
      <video-player resource-url="/clips" initial-clip-url="{{ .InitialClipURL }}"></video-player>
      <caption-display resource-url="/captions"></caption-display>
    </main>

    <nav>
      <event-button event-name="yn-open-about" title="About this project">❓</event-button>
      <event-button event-name="yn-enter-fullscreen" title="About this project">🖥️</event-button>
    </nav>

    <dialog id="about">
      <event-button event-name="yn-close-about" title="Close about">❌</event-button>
      {{ .AboutContent }}
    </dialog>


    <script type="module" src="/assets/main.js"></script>
  </body>
</html>
