<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ .PageTitle }}</title>

    {{ .MetaComment }}

    <meta name="description" content="yesterday's news" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/assets/styles.css" />

  </head>
  <body>

    {{ .SVGSymbols }}

    <main id="main">
      <video-player resource-url="/clips" initial-clip-url="{{ .InitialClipURL }}"></video-player>
      <caption-display resource-url="/captions"></caption-display>
    </main>

    <nav>
      <event-icon event-name="yn-open-about" icon-name="about" title="About this project">❓</event-icon>
      <event-icon event-name="yn-enter-fullscreen" tabindex="0" role="button" icon-name="fullscreen" title="Enter fullscreen mode">🖥️</event-icon>
    </nav>

    <dialog id="about">
      <div class="content">{{ .AboutContent }}</div>
      <div class="footer"><event-button autofocus event-name="yn-close-about">Ok</event-button></div>
    </dialog>


    <script type="module" src="/assets/main.js"></script>
  </body>
</html>
