caption-display {
  z-index: var(--yn-z-index-captions);
  font-size: var(--yn-caption-font-size);
  position: absolute;
  left: 50%;
  width: 80%;
  bottom: 0.5rem;
  transform: translateX(-50%);
  text-align: center;
  font-family: monospace;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

caption-display > .word {
  color: var(--yn-color-foreground);
  background-color: var(--yn-color-background);
  padding: 0.2em;
}
