:root {
  --yn-document-font-size: calc(75% + 2vmin);

  --yn-icon-width: 1.5rem;
  --yn-icon-height: var(--yn-icon-width);

  --yn-close-icon-width: 1rem;
  --yn-close-icon-height: 1rem;

  --yn-caption-font-size: 3.5vw;

  --yn-z-index-captions: 1;
  --yn-z-index-nav: 2;
  --yn-z-index-dialog: 3;

  --yn-color-background: black;
  --yn-color-foreground: white;
  --yn-color-highlight: red;
  --yn-color-dialog-background: rgb(0 0 0 / 90%);
  --yn-color-dialog-backdrop: rgb(0 0 0 / 80%);
}
