<!-- the basics -->
<meta charset="UTF-8" />
<title>{{ .PageTitle }}</title>
<meta name="description" content="{{ .SiteDescription }}" />

<!-- browser compat -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- metadata -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://yesterdaysnews.today/" />
<meta property="og:site_name" content="yesterday's news" />
<meta property="og:locale" content="en_US" />
<meta property="og:title" content="yesterday's news" />
<meta property="og:description" content="{{ .SiteDescription }}" />
<meta property="og:image" content="{{ .AssetsPath }}/poster.png" />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="720" />
<meta property="og:image:alt" content="A poster for yesterday's news" />

<!-- media -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ .AssetsPath }}/icon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ .AssetsPath }}/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ .AssetsPath }}/icon/favicon-16x16.png">

<!-- styles -->
<link rel="stylesheet" href="{{ .AssetsPath }}/styles.css" />
