<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "head-meta.html.tmpl" .}}
    {{ .MetaComment }}
  </head>
  <body>

    <yesterdays-news
      clips-resource-url="/clips"
      captions-resource-url="/captions"
      about-page-url="/about"
      initial-clip-url="{{.InitialClipURL}}"
      fetch-clips-when-lower-than="{{ .FetchClipsWhenLowerThan }}"
    ></yesterdays-news>

    {{ .ImportMap }}
    <script type="module" src="{{ .AssetsPath }}/script.js"></script>
  </body>
</html>
