html {
  font-size: 3.5vw;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: black;
  font-family: monospace;
}

event-button {
  cursor: pointer;
  /* background-color: transparent;
  border: none; */
}

main {
  position: relative;
  width: 100vw;
  height: 56vw;
}

nav {
  z-index: 2;
  position: fixed;
  height: 1.5rem;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > event-button {
  font-size: 0.75rem;
  margin: 0.5em;
}

body.fullscreen > nav {
  display: none;
}

video-player {
  width: 100%;
  height: 100%;
}
video-player > video {
  width: 100%;
  height: 100%;
}

caption-display {
  z-index: 1;
  position: absolute;
  left: 50%;
  width: 80%;
  bottom: 0.5rem;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  font-size: 1rem;
  font-family: monospace;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

caption-display > .word {
  background-color: black;
  padding: 0.2em;
}

dialog {
  position: relative;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border: none;
  font-size: 0.75rem;
  margin: auto 1rem;
}

dialog > event-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
}

h1 {
  font-size: 1rem;
}
