:root {
  --yn-document-font-size: calc(75% + 2vmin);

  --yn-icon-width: 1.5rem;
  --yn-icon-height: var(--yn-icon-width);

  --yn-close-icon-width: 1rem;
  --yn-close-icon-height: 1rem;

  --yn-caption-font-size: 3.5vw;

  --yn-color-background: black;
  --yn-color-foreground: white;
  --yn-color-highlight: red;

  --yn-content-max-width: 1280px;
}

body {
  background-color: var(--yn-color-background);
  color: var(--yn-color-foreground);
  margin: 0;
  padding: 0;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: var(--yn-document-font-size);
  min-height: 100vh;
}

body.index {
  height: 100vh;
}

body.about {
}

a,
a:visited {
  text-decoration: none;
  color: var(--yn-color-highlight);
  border-bottom: 1px dotted var(--yn-color-highlight);
}

article {
  max-width: var(--yn-content-max-width);
  margin: 2rem;
}

yesterdays-news {
  width: 100vw;
  height: 100vh;
}
